* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

header {
    padding: 16px;
    background-color: #2F0601;
    color: #F5E2C8;
}

header, 
section h2,
section h3 {

        font-family: "Poppins", sans-serif;
        font-weight: 700;
        font-style: normal;
}



section h2,
section h3,
section h5,
section h6 {
    color: #2F0601;
}

section p,
footer {
    font-family: "Poppins", sans-serif;
    font-weight: 400;
    font-style: normal;
    margin-top: 24px;
    font-size: 12px;
    color: #2F0601;
}

section h5,
section h6 {
    font-family: "Poppins", sans-serif;
    font-weight: 400;
    font-style: normal;
    
}

section h6 {
    font-size: 9px;
    margin-bottom: 64px;
}
header nav li {
    display: inline;
    margin-left: 16px;
    color: #F5E2C8;
    font-size: 18px;

}

header nav li a {
    color: #F5E2C8;
    text-decoration: none;

}

.container {
    max-width: 1280px;
    width: 100%;
    margin: 0 auto;
}

header .container,
section .container {
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-top: 32px;
}

#newsongs,
#videos,
#contact {
    max-width: 1280px;
    width: 100%;
    margin: 0 auto;
    margin-top: 142px;
}

.streaming {
    max-width: 200px;
}

.contact-methods {
    display: flex;
    justify-content: space-between;
    margin-top: 0px;
}

form input,
form textarea,
form button{
    display: block;
    width: 320px;
    margin-bottom: 8px;
    padding: 8px;
}

form input,
form button {
    border-radius: 100px;
}

form textarea {
    border-radius: 10px;
}
form textarea {
    resize: none;
    height: 180px;
}

.social-links img {
    height: 24px;
    }

.social-links li {
        display: inline;
        margin-right: 8px;

        
    }
    
.social-links li a {
        text-decoration: none;
    }

.info-albuns {
    margin-right: 24px;
    margin-left: 24px;
}

.img-about {
    margin-right: 32px;
}

.streaming {
    margin-top: 4px;
    margin-bottom: 4px;
}

.albuns-cover {
    display: flex;
}

form button {
    background-color: #2F0601;
    color: #ecf0f1;
    border: none;
    cursor: pointer;
    border-radius: 20px;
}

.info-albuns a {
    padding: 8px;
    margin-top: 24px;
    text-decoration: none;
    background-color: #2F0601;
    color: #F5E2C8;
  
    font-family: "Poppins", sans-serif;
    font-weight: 700;
    font-style: normal;

    border-radius: 20px;


}

form button:hover {
    background-color: #752419;
}

input:focus, textarea:focus {
    outline-color: #2F0601;
}

footer {
    background-color: #2F0601;
    color: #F5E2C8;
    padding: 16px 16px;
    margin-top: 64px;
    text-align: center;
}

.pic-contact {
    margin-bottom: 24px;
}

